.MessageSender {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}
.MessageSender__top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}
.MessageSender__top > form {
    flex: 1;
    display: flex;
}
.MessageSender__top > form > input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.MessageSender__top > form > button {
    display: none;
}
.MessageSender__input {
    flex: 1;
}
.MessageSender__bottom {
    display: flex;
    justify-content: space-evenly;

}
.MessageSender__option {
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;

}

.MessageSender__option > h3 {
    font-size: medium;
    margin-left: 10px;
    cursor: pointer;
}

.MessageSender__option:hover {
    background-color: #eff2f5;
    border-radius: 20px;
}







@media (max-width: 1200px) {
    .MessageSender__top > form > button {
        display: visible  
    }
}